@charset "utf-8";


body {
  margin: 0px;
  padding: 0px;
  background-color: black;
  overflow: hidden;
}

.root {
  height: 100vh;
  margin: 0px auto;
  padding: 0px;
  aspect-ratio: 16 / 9;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: white;
  box-sizing: border-box;
  position: absolute;
}